
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row main">
        <div class="col-xs-12 col-sm-3 col-md-3">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <form>
                <h1>Dejanos un mensaje</h1>
                <p style="width:100%;">
                    <span class=""><input type="text" name="your-subject" value="" size="40" class="contact-input company" aria-invalid="false" placeholder="COMPAÑIA"></span>
                </p>
                <p style="float:left;">
                    <span class=""><input type="email" name="your-email" value="" size="40" class="contact-input email" aria-required="true" aria-invalid="false" placeholder="EMAIL"></span>
                </p>
                <p style="float:right;">
                    <span class=""><input type="text" name="your-name" value="" size="40" class="contact-input name" aria-required="true" aria-invalid="false" placeholder="NOMBRE"></span>
                </p>
                <p class="message">
                    <span class=""><textarea name="your-message" cols="40" rows="5" class="contact-input message" aria-invalid="false" placeholder="MENSAJE"></textarea></span>
                </p>
                <p class="boton"><input type="submit" value="Enviar" class="btn btn-submit"></p>
            </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="footer">
            <div class="background-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="row">
                                <address class="col-xs-12 col-sm-12">
                                    <strong class="display-block prov">BUENOS AIRES</strong><br> Clay 2954<br>54-11-5299-5400
                                </address>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="row">
                                <address class="col-xs-12 col-sm-12">
                                    <strong class="display-block prov">CORDOBA</strong><br> La Plata 32<br>54-11-5299-5300
                                </address>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="row">
                                <address class="col-xs-12 col-sm-12">
                                    <strong class="display-block prov">SANTA FE</strong><br> De los huertos 186<br>C1426DLD 54-11-5299-5200
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    section {
        width: 100% !important;
        padding: 0px !important;
    }
</style>

